<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Search Sort</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css" />
    <script src="https://kit.fontawesome.com/748f776e69.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/home.js"></script>
</head>

<body>
    <div style="padding: 35px; overflow: hidden;" id="root">
        <form>
            <div style="margin-bottom: 10px" class="form-group input-group">
                <input v-model="iNum" placeholder="Add to array" id="add-to-array" type="text"
                    class="text-white form-control">
                <button v-on:click="doAdd()" :disabled="false" data-toggle="tooltip" data-placement="left"
                    title="Click to add items to array!" type="button" class="btn btn-primary bmd-btn-fab">+</button>
            </div>
            <div class="form-group parent-flex">
                <button v-on:click="doMin()" :disabled="false" type="button"
                    class="btn btn-raised btn-primary inline-flex"><i class="fas fa-minus-square"></i> Min</button>
                <button v-on:click="doMax()" :disabled="false" type="button"
                    class="btn btn-raised btn-primary inline-flex"><i class="fas fa-plus-square"></i> Max</button>
            </div>
            <div class="form-group parent-flex">
                <button v-on:click="doSum()" :disabled="false" type="button"
                    class="btn btn-raised btn-primary inline-flex"><i class="fas fa-sort-numeric-up-alt"></i>
                    Sum</button>
                <button v-on:click="doAvg()" :disabled="false" type="button"
                    class="btn btn-raised btn-primary inline-flex"><i class="fas fa-sort-numeric-up-alt"></i>
                    Avg</button>
            </div>
            <div class="form-group parent-flex">
                <button v-on:click="doIncludes()" :disabled="false" type="button"
                    class="btn btn-raised btn-dark inline-flex"><i class="fas fa-question"></i> Includes</button>
                <button v-on:click="doIncludesB()" :disabled="false" type="button"
                    class="btn btn-raised btn-dark inline-flex"><i class="fas fa-question"></i> Includes-b</button>
            </div>
            <div class="form-group parent-flex">
                <button v-on:click="doSort()" :disabled="false" type="button"
                    class="btn btn-raised btn-secondary inline-flex"><i class="fas fa-sort"></i> Sort</button>
                <button v-on:click="doSort2()" :disabled="false" type="button"
                    class="btn btn-raised btn-secondary inline-flex"><i class="fas fa-sort"></i> Sort-i</button>
            </div>
            <div class="form-group parent-flex">
                <button v-on:click="doSortB()" :disabled="false" type="button"
                    class="btn btn-raised btn-secondary inline-flex"><i class="fas fa-sort"></i> Bubble-s</button>
                <button v-on:click="doSortQ()" :disabled="false" type="button"
                    class="btn btn-raised btn-secondary inline-flex"><i class="fas fa-sort"></i> Quick-s</button>
            </div>
            <hr />
            <h4 class="text-white">{{ pArray | stringify }}</h4>
        </form>
    </div>
</body>

</html>