body {
  background-image: url("back.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee !important;
}

button[disabled]:hover {
    cursor: default !important;
}

.parent-flex {
    display: flex;
    justify-content: space-between;
}

.inline-flex {
    width: 48%;
}

button {
    font-family: 'Baloo', cursive;
}

h4, input {
    font-family: 'Hind', sans-serif;
}
